# Configuración de base de datos de pruebas locales
DB_USER=usuario_test
DB_HOST=localhost
DB_NAME=faregas_test
DB_PASSWORD=password_test
DB_PORT=5432

# Restricciones obligatorias para que se ejecuten los tests de integración
FAREGAS_TEST_DB_ENABLED=true
APP_DATABASE_ENVIRONMENT=TEST

# Configuración adicional de Node
NODE_ENV=test
PORT=3001
